transformers==4.50.0
flash-attn
deepspeed
accelerate
torchcodec
black
isort
datasets
evaluate
httpx
jsonlines
numpy
peft
pytablewriter
sacrebleu
sqlitedict
timm
ftfy
hf_transfer
nltk
pycocoevalcap
tqdm-multiprocess
transformers-stream-generator
zstandard
openpyxl
loguru
tenacity
wandb
pre-commit
decord
zss
scipy
matplotlib
protobuf
qwen_vl_utils
spicy
terminaltables

